.custom-checkbox-input:focus + .custom-checkbox-box {
  outline: -webkit-focus-ring-color auto 1px;
}

.custom-checkbox-input + .custom-checkbox-box .custom-checkbox-icon {
  display: none;
}

.custom-checkbox-input:checked + .custom-checkbox-box .custom-checkbox-icon {
  display: block;
}
